* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e3a8a;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
}

.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #9cd7f1;
}




#hero{
    margin-top: 65px;
    width: 100%;
     text-align: center;
  /*    background-color: aqua;*/

}


#button{

     margin-top: 30px;
     margin-left: 85px;

}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #a9a06f;
    color: #000;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    justify-content: center;
    text-align: center;
}

.btn:hover {
    background: #ffb700;
}
