#container{
   width:100%;
   padding: 20px;
   display: flex;
   gap: 30px;
   border: 2px solid #000;
    background-color: white;

}

#smallContainer{

    height: 250px;
    width: 400px;
    border: 1px solid #000;
    background-color: rgb(237, 214, 214);
    margin-left: 20px;
    margin-top: 40px;

}

#smallContainer h3{
    text-align: center;
    align-items: center;
    margin-top: 0px;
    height: 30px;
    background-color: azure;
    border: 2px solid #111;

}
#smallContainer p{
    text-align: center;
   
   
}

#f1{
   
   
    height: auto;
    padding: 30px;
    margin-bottom: 80px;
     margin-left: 80px;
  
}
