* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#container {
  width: 100%;
 /* max-width: 1200px;*/
  margin: auto;
   display: flex;
  align-items: center;
  justify-content: space-between;
   padding: 20px 0;
  border-bottom: 1px solid #eee;
  background-color: aquamarine;
}



header {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero{
    margin-top: 30px;
    width: 100%;
     text-align: center;
  /*    background-color: aqua;*/

}

#hero h1{
     margin-top: 30px;
    margin-left: 85px;
}

#hero p{
     margin-top: 30px;
     margin-left: 85px;

}

#button{

     margin-top: 30px;
     margin-left: 85px;

}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #a9a06f;
    color: #000;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    justify-content: center;
    text-align: center;
}

.btn:hover {
    background: #ffb700;
}
