* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4169e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.second{
    height: 550px;
    width: 550px;
    background-color: white;
    border-radius: 8px;
}
.second span{
    border-bottom: 2px solid blue;
}
.second h1{
    margin-top: 1%;
    margin-bottom: 4%;
}

label{
    text-align: left;
    font-size: 15;
    padding: 22px;
}

.togglePassword{
   right: 10px;
  left: auto;
  
}
input{
    text-align: left;
    font-size: 15;
    padding: 20px;
    margin-left: 5%;
    border: none;
}
#condition{
    color: rgba(0, 0, 0, 0.185);
}
button{
    font-size: 24px;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    color: white;
    border: none;
    border-radius: 5px;
   background-color: #5d7fe6;

}
i{
    color:gray;
}
hr{
    margin-left: 10%;
    color: gray;
}

 a{
    text-decoration: none;
}
footer{
    text-align: center;
}

