#mainDiv{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
}

.subDiv{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    background-color: aquamarine;
}

@media screen  and (max-width:700px){
     #mainDiv{
        grid-template-columns: auto auto auto auto;
     }
    
}

@media screen  and (max-width:700px){
     #mainDiv{
        grid-template-columns: auto auto auto auto;
     }
    
}