#mainDiv{
     width: 700px;
    height: 700px;
   border: 1px solid #ccc;
    background-color: aqua;
   display: flex;
   gap: 5px;
   justify-content: end;
}

.subDiv{
     width: 60px;
     height: 60px;
    border: 1px solid #ccc;
   background-color: beige;

}