h1{
    width: 200px;
    border: 1px solid #000;
   margin-left: 0px;

}
/*
h1:hover{
    margin-left: 200px;
    transition:margin-left;
    transition-duration: 5s;
     
}
*/

h1:hover{
    width: 300px;
    transition: width;
     transition-duration: 5s;
}

/*
img{
    width: 200px;
    height: 200px;

}
    */ 
   


#outer{
    width:550px;
    height: 50px;
    border: 2px solid #000;
    
    #inner{          
    width:10px;
     height: 50px; 
    background-color: aqua;
    }
}
#outer:hover{ 
    #inner{   
    width: 100px;
   background-color: aqua;
    transition: width 5s; 
    transition:  background-color;
    }
}



#outer1{
    width:500px;
    height: 50px;
    border: 2px solid #000;
    
    #inner1{          
     height: 50px; 
    }

#outer1:hover{ 
    #inner1{ 
        animation: myAnimation 5s linear;  
    }
}

@keyframes myAnimation {
    0%{
    width:0%;
     background-color: aqua;
 }
 
  50%{
    width:50%;
    background-color:Yellow;
 }
  100%{
    width:100%;
   
   background-color: aqua;
 }
    
    
}



}