#d1{
    height: 500px;
    width:500px;
     border: 2px solid black;
    background-color: blue;
    display: inline;
}
#s1{
     height: 500px;
    width:500px;
     border: 2px solid black;
    background-color: rgb(255, 0, 0);
    display: inline-block;
}