* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #a7cef0, #00f2fe);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-app {
    width: 350px;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.title {
    margin-bottom: 15px;
    color: #333;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #8abee9;
    color: white;
    cursor: pointer;
}

.search-box button:hover {
    background: #3282f6;
}

.weather-card {
    background: #f5f9ff;
    border-radius: 12px;
    padding: 20px;
}

.city {
    font-size: 20px;
    color: #333;
}

.temp {
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0;
    color: #105a9b;
}

.condition {
    font-size: 18px;
    margin-bottom: 15px;
    color: #555;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details div {
    background: hwb(0 100% 0%);
    padding: 10px;
    border-radius: 10px;
    width: 45%;
}

.details span {
    font-size: 14px;
    color: #777;
}

.details p {
    font-size: 16px;
    font-weight: bold;
    color: #333333c3;
}
