* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: Arial, sans-serif;*/
}

body {
    background: #f6faff;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 60px;
    flex-wrap: wrap;
}


.left-box {
    background: #e8f6ff;
    padding: 40px;
    border-radius: 15px;
    width: 45%;
    min-width: 330px;
}

.left-box h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.left-box p {
    margin-bottom: 25px;
    color: #555;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

textarea {
    height: 140px;
}

.send-btn {
    background: #001f36;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background: #003d61;
}


.right-box {
    width: 40%;
    min-width: 330px;
}

.right-box h2 {
    font-size: 32px;
}

.desc {
    margin: 10px 0 25px;
    color: #555;
    line-height: 1.5;
}


.info-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icon-circle {
    width: 65px;
    height: 65px;
    background: #003d61;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.info-row h3 {
    margin-bottom: 5px;
}

.callback-btn {
    margin-top: 20px;
    background: #fff;
    border: 2px solid #b4b4b4;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.callback-btn:hover {
    background: #f1f1f1;
}

/*for makinff responsive use media query*/
@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
        padding: 25px;
    }

    .left-box,
    .right-box {
        width: 100%;
    }
}
