body {
    background: #7be9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial;
}

.calc-container {
    width: 300px;
    background: black;
    padding: 20px;
    border-radius: 20px;
}

.display {
    height: 55px;
    background: #e5ecef;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 28px;
    text-align: right;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    height: 50px;
    background: #d7d7d7;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.op {
    font-weight: bold;
}

.clear {
    background: rgba(232, 25, 25, 0.903);
    color: white;
}

.equal {
    width: 100%;
    height: 55px;
    background: #eb4707;
    border: none;
    font-size: 25px;
    color: white;
    margin-top: 18px;
    border-radius: 5px;
    cursor: pointer;
}
