/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4169e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.second{
    height: 450px;
    width: 450px;
    background-color: white;
    justify-content: center;
    border-radius: 8px;
    
}

.second h1{
    margin-top: 3%;
    margin-bottom: 7%;
}
label{
   text-align: left;
   font-size: 15px;
   color: rgba(0, 0, 0, 0.071);
   padding: 22px;
 
}
input{
 
    border: none;
    padding:  22px;
}

button{
    font-size: 24px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 80%;
    color: white;
    border: none;
    border-radius: 5px;
   background-color: #5d7fe6;

}
i{
    color:gray;
}
hr{
    margin-left: 10%;
    color: gray;
}

 a{
    text-decoration: none;
}
footer{
    text-align: center;
}

