body {
    font-family: Arial;
    text-align: center;
}

#mapContainer {
    position: relative;
    display: inline-block;
}

#indiaMap {
    width: 700px;
    border: 1px solid #ccc;
}

#marker {
    position: absolute;
    font-size: 30px;
    display: none;
    transform: translate(-50%, -100%);
}




#markersContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.marker {
    position: absolute;
    font-size: 30px;
    transform: translate(-50%, -100%);
}

