* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1e3a8a;
    padding: 35px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
}

.nav-links a {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.868);
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
}

.nav-links a:hover {
    color: #9cd7f1;
}

