*{
    margin: 0;
    padding: 0;
}
#navBar{
    border: 1px solid #ccc;
    background-color: blue;
    color: #000; 

}


#helpButton{
    height: 100px;
    width:100px;
font-size: larger;
padding: 10px;
border-radius: 50%;
align-items: center;
justify-content: center;
position: fixed;
bottom: 20px;
right: 20px;

}